HUGGINGFACE_TOKEN=your_huggingface_token_here
HUGGINGFACE_MODEL=Qwen/Qwen2.5-7B-Instruct
ADMIN_EMAILS=hr@deccan.ai
CONVEX_URL=
CLERK_SECRET_KEY=
CLERK_JWT_ISSUER_DOMAIN=https://modern-tadpole-84.clerk.accounts.dev
